/*@import url(//fonts.googleapis.com/css?family=Gloria+Hallelujah);*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

.container {
    height: 800px;
    width: 500px;
    position: relative;
    /*margin: 20px auto 0; */
    overflow: hidden;
}

canvas {
    height: 100%;
    width: 100%;
    display: block;
    background: url(./img/gamebg.jpg) top left;
    background-size: 100% 100%;
}

#scoreBoard {
    width: 400px;
    height: 50px;
    /*background: rgba(182, 200, 220, 0.7);*/
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    /*border-image: url(http://i.imgur.com/5BBsR.png) 100 5 round;*/
}

#scoreBoard p {
    font-size: 20px;
    padding: 0;
    line-height: 50px;
    margin: 0;
    float: left;
    margin-left: 10px;
    color: yellow;
    text-shadow: 0 0 3px #000;
}

img {
    display: none
}

#mainMenu,
#gameOverMenu {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#gameOverMenu {
    visibility: hidden;
}

h2,
h3,
h1 {
    font-weight: normal
}

h1 {
    font-size: 60px;
    color: #fff;
    transform: rotate(-10deg);
    margin: 0px;
    margin-top: 30%;
    text-shadow: 0 0 5px #000;
}

h3 {
    text-align: right;
    margin: -10px 20px 0 0;
    color: #5e96be
}

h3 a {
    color: #5a5816
}

.button {
    width: 210px;
    height: 62px;
    background: url(./img/cloud.png) 0 0 no-repeat;
    background-size: contain;
    display: block;
    color: #CC0700;
    font-size: 20px;
    line-height: 55px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -105px;
}

.button.tweet {
    bottom: 100px;
    background-position: 0 -90px
}

.button.fb {
    bottom: 150px;
    background-position: 0 -60px
}

.info {
    position: absolute;
    right: 20px;
    bottom: 00px;
    margin: 0;
    color: green
}

.info .key {
    width: 16px;
    height: 16px;
    background: url(./img/2WEhF.png) no-repeat;
    text-indent: -9999px;
    display: inline-block;
}

.info .key.left {
    background-position: -92px -621px;
}

.info .key.right {
    background-position: -92px -641px;
}

.start_pop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5) url(./img/download-1.png) no-repeat center center;
    background-size: 80%;
}

#go_score {
    color: yellow;
}

.music_btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 10
}

.music_btn_type1 {
    background: url(./img/music1.png) no-repeat center center;
    background-size: contain;
}

.music_btn_type2 {
    background: url(./img/music2.png) no-repeat center center;
    background-size: contain;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.img_box {
    height: 50px;
    width: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.img_box .head {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.img_box img {
    display: block;
    width: 100%;
    height: 100%;
}

#info {
    z-index: 100;
    position: fixed;
    left: 10px;
    top: 100px;

}

.test1,
.test2,
.test3 {
    font-size: 12px;
}

#hint {
    z-index: 100;
    position: fixed;
    line-height: 20px;
    height: 20px;
    bottom: 10px;
    width: 100%;
    display: none;
    text-align: center;
}

#hint .hint1 {
    font-size: 16px;
    color: #fff;
}